body {
  background-color: white;
  color: black;
  font-family: Arial;
  text-align: left;
}

.greed_container {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.btn-custom {
  /* background-color: #f0c14b;
    color:white; */
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 50%;
  margin-top: 25px;
  margin-left: 200px;
}

.mystyle-checkout {
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: Arial;
  text-align: left;
  padding-left: 0%;
}
.radio {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.checkoutForm {
  margin: auto;
}

.expriation_date {
  padding-left: 0px !important;
}

.expr_margin_top {
  margin-top: 20px;
}

.expriation_cvv {
  padding-right: 0px !important;
}

.checkout_required:after {
  content: ' *' !important;
  color: red !important;
}

.inline_dispaly {
  display: inline;
}
