.footer {
  background-color: hsl(212, 13%, 28%);
  color: rgb(115, 214, 123);
  font-family: poppins;
  position: absolute;
  bottom: 0;
  /* height: 12rem; */
  margin-bottom: -3.2rem;
  margin-left: -3.2rem;
  width: 100vw;
}

.footer p {
  margin: 0;
  color: white;
}

.fab {
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5px;
  color: white;
}

.pb-3 ::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: #e91e63;
  height: 2px;
}
