body {
    background-color: white;
    color:black;
    padding: 50px;
    font-family: Arial;
    text-align: left;
  }
 
  .greed_container {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: center;    
  }

  .mystyle{
    color: black;
    padding: 39px;
    font-family: Arial;
    text-align: left;
    padding-left: 0px;
  }

  .order-column {
    padding: 0px;
  }

  .subtotal_list{
    padding-bottom: 0px;
  }

  .listgroup{
    padding-top: 0px;
  }

  .table-order{
    padding-bottom: 0px;
    padding: 0px;
  }

  .listgroup-right-borderless{
    border-right: 0 none
  }



table, thead, tr {
  border-bottom: 0.5px solid #e9e9e9;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dfd7ca;
}
.table thead th {
  vertical-align: bottom;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px solid #dfd7ca;
}

.order_price {
  padding: .0rem;
  border-bottom: 0px solid #e9e9e9;
  text-align: right;
}